ADMIN_EMAIL_ADDRESS=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
NEXT_MONGODB_URI= mongodb://localhost:27017/MOAI
NEXT_PUBLIC_API_BASE_URL = http://localhost:8080/api
NEXTAUTH_SECRET=